.post {
  height: 150px;

  .panel-body {
    padding: 0;

  }

  .preview-container {
    display: flex;
  }

  .preview {
    background-size: cover;
    background-position: center;
    width: 100%;
    flex: 1;
  }

  .description {
    overflow: hidden;
  }

  .category-cp {
    background-color: rgba(180,28, 116, 1);
    color: white;
  }
}